:root {
  --color-primario: rgb(91, 16, 16);
  --color-secundario: rgb(7, 7, 112);
  --color-letra: white;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

main div {
  border: 1px solid black;
  border-radius: 15px;
  margin: 15px;
  padding: 15px;
}

div img {
  width: 100%;
}

.item1 {
  grid-area: header;
}

.item2 {
  grid-area: nav;
}

.item3 {
  grid-area: aside;
}

.item4 {
  grid-area: main;
}

.item5 {
  grid-area: footer;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header"
    "nav nav nav nav"
    "aside main main main"
    "footer footer footer footer";
}

a {
  text-decoration: none;
  color: var(--color-letra);
  background-color: var(--color-primario);
  padding: 5px;
  transition: background-color 0.8s linear 0.2s;
  margin: 10px 0px;
}

a:hover {
  background-color: var(--color-secundario);
}

header {
  margin: 0 0 20px 0;
  background-color: var(--color-primario);
  color: white;
}

#cant-prod {
  background-color: var(--color-primario);
  border-radius: 50%;
  display: inline;
  color: var(--color-letra);
  padding: 7px;
}
